2.7.x/misc/com.choicemaker.eclipse2.embedded/src/test/resources/META-INF/plugins/com_choicemaker_cm_io_xml_base_2_5_0/etc/meta/Xml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  -  @(#)$RCSfile$        $Revision$ $Date$
  -
  -  Copyright (c) 2001 ChoiceMaker Technologies, Inc.
  -  41 East 11th Street, New York, NY 10128
  -  All rights reserved.
  -
  -  This software is the confidential and proprietary information of
  -  ChoiceMaker Technologies Inc. ("Confidential Information").
  -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="xmlGlobal" type="xmlGlobalType" substitutionGroup="compGlobal"/>
	<xs:complexType name="xmlGlobalType">
		<xs:complexContent>
			<xs:extension base="compGlobalType">
				<xs:attribute name="unknownElement" type="unknownItemType" use="optional"/>
				<xs:attribute name="unknownAttribute" type="unknownItemType" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="xmlField" type="xmlFieldType" substitutionGroup="compField"/>
	<xs:complexType name="xmlFieldType">
		<xs:complexContent>
			<xs:extension base="compFieldType">
				<xs:attribute name="use" type="xs:boolean" default="true"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>