2.7.x/choicemaker-cm/choicemaker-common/com.choicemaker.cm.core/src/main/eclipse2/plugin/etc/meta/ModelConfiguration.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="cmModelConfiguration">
    <xs:annotation>
      <xs:documentation>
<![CDATA[
Copyright (c) 2014 ChoiceMaker LLC and others.
All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License
v1.0 which accompanies this distribution, and is available at
http://www.eclipse.org/legal/epl-v10.html

Contributors:
    ChoiceMaker LLC - initial API and implementation

A model configuration consists of the following:

(*) A trained model, specified as the unique id of a
    com.choicemaker.cm.core.model extension.
 
(*) Model configuration parameters
    The name of a database configuration
    The name of a blocking configuration
 
]]>
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="model">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="id" />
                <xs:attribute type="xs:string" name="version" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="databaseConfiguration">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="blockingConfiguration">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
